#topmenu { 

}

#topmenu ul { 

}

#topmenu ul li { 
    margin-left: 15px;
}

#topmenu ul li a.active {
	color: black;
	text-decoration: none;
	background: url('../images/underscore.png') no-repeat;
    background-position: left;
    padding-bottom: 20px;
} 

#topmenu ul li a { 
	color: black;
	text-decoration: none;	
}

#topmenu ul li a:hover {
	text-decoration: underline;	
}

.screenshot {
    width: 250px;
    border: none;
    padding: 10px;
}