#topmenu {

}

#topmenu ul {

}

#topmenu ul li {
    margin-left: 15px;
}

#topmenu ul li a.active {
	color: black;
	text-decoration: none;
	background: url('../images/underscore.png') no-repeat;
    background-position: left;
    padding-bottom: 20px;
}

#topmenu ul li a {
	color: black;
	text-decoration: none;
}

#topmenu ul li a:hover {
	text-decoration: underline;
}

.service { 
	margin-top: 10px;
	width: 100%;	
}

.service .description { 
	float: left; 
	width: 78%;	
}

.service .actions { 
	float: right;
	width: 20%;
	text-align: right;
}

.service img { 
	padding-right: 5px;
	padding-bottom: 70px;
	border: none;	
}

.service .name { 
	font-weight: bold;	
}

.actions a { 
	color: #3e3e3e;
	text-decoration: none;
	font-weight: bold;
}